/* Reseta margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.board-game {
  width: 50vw; /* Define a largura da grade como 50% da largura da viewport */
  height: 50vw; /* Define a altura da grade como 50% da largura da viewport */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  grid-template-rows: repeat(3, 1fr); /* 3 linhas iguais */
  gap: 1px; /* Espaço entre células */
  background-color: white;
}

/* Estilo das células */
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 30px;
  border: 1px solid #ccc; 
}

.cell:hover {
  background-color: #f6f6f6;
  cursor: pointer;
  border-radius: 5px;
}

.cellId {
  position: absolute;
  opacity: 0;
}

.cellImage {
  width: 50%; /* Ajusta a largura da imagem para 50% da célula */
  height: auto; /* Mantém a proporção da imagem */
}
